body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 .column img{
    border-radius: 35px;
    height: 300px;
    width: 20%;
 }
header {
    text-align: center;
    padding: 20px;
    background-color: rgb(195, 249, 195);
}
h1 , h2 {
    color: rgb(4, 87, 4);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
nav {
    display: flex;
    justify-content: center;
    background-color: rgb(62, 117, 62);
    margin: 20px;
    border-radius: 20px;
    border: 4px solid rgb(30, 69, 30); 
}

nav a {
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: rgb(30, 69, 30);
}

main {
    padding: 20px;
}

.promo-banner {
    position: relative;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 61, 2);
    overflow: hidden;
}

.promo-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://media.istockphoto.com/id/1337074453/photo/dinner.jpg?b=1&s=612x612&w=0&k=20&c=zQob6exrqezMsoEgmzO9Utm6WfQyH-ZJrzdPi897o_g=");
    opacity: 0.5;
    z-index: 0;
} 

.promo-banner>* {
    position: relative;
    z-index: 1;
    color: rgb(2, 61, 2);
}

.about {
 color: rgb(0, 49, 13);
 background-color: rgb(153, 202, 153);
border: 4px solid rgb(79, 114, 79);
padding: 7px;
 margin: 30px;
 margin-left: 180px;
font-size: 15px;
width: 70%;
 
}
.columns { 
 
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    background-color: rgb(189, 232, 189);
    border: 4px solid rgb(2, 61, 2);
    border-radius: 40px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    color: rgb(1, 34, 1);
    font-size: 20px;
    width:25%;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #63957bcc;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }

    .column {
        margin: 10px 0;
    }
}